.face{
    border: solid 6px;
    background-color: pink ;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.mouth{
    position: absolute;
    background-color:deeppink;
    width: 180px;
    height: 80px;
    border-radius: 30%;
    top: 325px;
    left:118px;
    border: solid 4px;
}
.eye-section{
    position: absolute;
    width: 250px;
    height: 100px;
    left:80px;
    top: 150px;
}
.left-eye{
    background-color:white;
    border: solid 4px;
    position:absolute;
    width:70px;
    height:70px;
    top:20px;
    border-radius: 60%;

}
.right-eye{
    border: solid 4px;
    right: 10px;
    background-color:white;
    position:absolute;
    width:70px;
    height:70px;
    top:20px;
    border-radius: 60%;
}
.l_iris{
    background-color:black;
    position:absolute;
    width:35px;
    height:35px;
    top:18px;
    border-radius: 60%;
    right: 17px;

}
.r_iris{
    background-color:black;
    position:absolute;
    width:35px;
    height:35px;
    top:18px;
    border-radius: 60%;
    right: 17px;

}
.l_nose{
    background-color:black;
    position:absolute;
    width:38px;
    height:53px;
    top:15px;
    border-radius: 60%;
    right: 20px;
}
.r_nose{
    background-color:black;
    position:absolute;
    width:38px;
    height:53px;
    top:15px;
    border-radius: 60%;
    left: 20px;
}
.l_ear{
    background-color: pink;
    width: 80px;
    height: 80px;
    position:absolute;
    border-radius: 60%;
    border:solid 6px;
    z-index: -1;
}.r_ear{
    background-color: pink;
    left: 320px;
    width: 80px;
    height: 80px;
    position:absolute;
    border-radius: 60%;
    border:solid 6px;
    z-index: -1;
}